* {
  margin: 0;
  padding: 0;
}
nav {
  background-color: black;
  color: white;
  padding: 10px 30px;

}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;

}
nav ul li{
    text-transform: uppercase;
}
nav ul img {
  height: 50px;
  width: 150px;
}
.container{
width: 80%;
height: 60vh;
background-color: rgb(47, 48, 48);
margin:15px auto;
display: flex;
padding: 15px ;
color: white;
}
#myProgressBar{
  width: 80%;
}
.footer{
  background-color: black;
  color: white;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px 0px;
  gap: 15px;
}
.footer .icons{
  font-size: 25px;
}
.container .playlist .songItem img{
 width: 35px;
 height: 35px;
 border-radius: 35px;
}
.container .playlist .songItem{
  margin: 15px;
  border: 2px solid white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0px;
  border-radius: 35px;
  font-size: 20px;
}
.songItem i{
  cursor: pointer;
}
.songItemFolder{
  margin: 35px;
}
